.card-container {
  margin: 10px;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px;
  border-radius: 3px;
  border-color: rgba(0, 0, 0, 0.5);
}

.description {
  margin: 20px;
  text-align: justify;
}

.link {
  margin: 20px;
}

.top {
  display: flex;
  justify-content: space-around;
}